__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/
.mim/
build/
*.so
*.o
.DS_Store

/data/
/checkpoints/
/work_dirs/
/show_dir/

*.pt
*.pth
*.ckpt
*.xlsx
111.txt
results.txt
